<div>
    <table style="width: 100%;">
        <tr>
            <td style="width: 300px; padding: 10px">
                <button style="width: 300px; height: 150px; font-size: 24pt" ng-disabled="ctrl.panel.loading" class="btn {{ctrl.panel.actionClass}}" id="easy_btn">{{ctrl.panel.action}}</button>
            </td>
            <td style="width: 10px; padding: 10px">
                <div style="cursor: pointer" id="easy_settings"><i style="color: #8e8e8e" class="gicon gicon-cog"></i></div>
            </td>
        </tr>
    </table>
</div>
