<table>
    <tr>
        <td>
            <button style="background-color: black; width: 100px; height: 50px; border: solid 1px #555" id="easy_btn">Scale cluster </button>
        </td>
        <td>
            <div style="margin-left: 5px;">
                <input
                        style="background-color: black; width: 50px; height: 40px; border: solid 1px black; padding: 5px; font-size: 16pt"
                        id="easy_input"
                        name="easy_input"
                        value="{{ctrl.panel.instances}}"
                />
            </div>
        </td>
        <td>
            <div style="margin-left: 20px; font-size: 16pt">{{ctrl.panel.text}}</div>
        </td>
    </tr>
</table>
