<style>
    #easy_btn:hover {
        background-color: #555 !important;
    }
</style>
<table style="width: 100%">
    <tr>
        <td style="width: 110px">
            <button style="background-color: black; width: 100px; height: 50px; border: solid 1px #555; font-size: 12pt;" id="easy_btn">Scale</button>
        </td>
        <td>
            <div style="margin-left: 5px;">
                <input
                        style="background-color: black; width: 50px; height: 40px; border: solid 1px black; padding: 5px; font-size: 16pt"
                        id="easy_input"
                        name="easy_input"
                        value="{{ctrl.panel.instances}}"
                />
            </div>
        </td>
        <td>
            <div style="font-size: 16pt">{{ctrl.panel.text}}</div>
        </td>
        <td style="width: 10px">
            <div id="easy_settings"><i class="gicon gicon-cog"></i></div>
        </td>
    </tr>
</table>
